* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

:root {
  --color-primary: #252062;
  --color-secudary: #252273;
  --color-white: #fff;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-white);
}

/*                 NAVBAR              */
.logo {
  height: 100%;
  letter-spacing: 4px;;
}
nav {
  display: flex;
  background-color: var(--color-primary);
  justify-content: space-around;
  align-items: center;
  height: 9vh;
  width: 100vw;

  z-index: 1;
}

.nav-list {
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div{
  width: 32px;
  height: 2px;
  background: var(--color-white);
  margin: 8px;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background: var(--color-primary);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

header nav ul li a {
  text-decoration: none;
  color: white !important;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 32px;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background: rgba(163, 7, 235, 0.329);
  width: 100%;
}



a {
  display: flex;
  color: var(--color-white);
}         

a img {
  width: 100%;
}

ul {
  margin-bottom: 0;
}

.sub-menu {
  display: none;
}

.sub-menu ul{
  padding: 0;
}

.sub-menu ul li{
  margin: 0;
}

nav ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: var(--color-primary);
}


/*                 MAIN              */

.home {
  background: url(../image/backgroud.jpg) no-repeat center center;
  background-size: cover;

  height: 91vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/*==================SEARCH================*/
.form-home {
  width: 90vw;
}

form fieldset {
  padding: 2rem 4rem;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
}


form.form-home fieldset legend {
  padding: .5rem 4rem;
  margin: 0 auto;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  border-radius: .5rem;
  text-align: center;
}

form fieldset .form-group {
  display: flex;
}

.shadow-block {
  box-shadow: 0 0.2rem 0.1rem 0 rgba(black,.2);
}

form.form-home .form-input {
  width: 100%;
  padding-right: 2rem;
  text-align: left;
  flex-direction: column;
  justify-content: center;
}


form.form-home label {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  white-space: nowrap;
}

form.form-home select {
  padding: 1rem 1.75rem 1rem 1rem;
}

form.form-home .form-option {
  width: 100%;
  flex-direction: column;
}

form.form-home .form-option a {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

form.form-home button {
  width: 100%;
  padding: .6rem;
  margin-top: .6rem;
  font-size: 1.6rem;
}
/*==================CARDS================*/

.text-title {
  background-color: var(--color-primary);
  border-radius: 2rem;
  width: 15vw;
  margin: 0 auto;
}

div h1{
  text-align: center;
  margin: 40px 0 40px 0;
  color: var(--color-whitey);
  font-size: 3.6rem;
  padding: 0.5rem;

}
.cards {
  width: 90%;
  max-width: 1400px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  
}

.cards a {
  text-decoration: none;
}

.text--medium {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: #ecf0f1;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  width: 100%;
  border: none;
}

.card:hover {
  transform: translateY(-7px);
}

.image {
  width: 100%;
  padding-top: 56.25%;
  border-radius: 10px 10px 0 0;

  overflow: hidden;
  position: relative;
}

.image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin: 20px;
}

.title {
  margin-bottom: 20px;
}

.info {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.info p {
  padding: 1rem;
  display: flex;
}

.info svg {
  width: 20px;
  height: 20px;
  padding-right: 2px;
  color: #fff;
  margin-right: 4px;
}

.price {
  display: flex;
  margin-left: -1rem;
  background-color: rgba(255, 255, 255, .8);
  color: black;
  justify-content: center;
  align-items: baseline;
  font-weight: bold;
}

.price .p1 {
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

.price .p2 {
  font-size: 2.5rem;
  margin: 0;
}

/*==================FOOTER================*/
footer {
  margin-top: 8rem;
  background: var(--color-primary);
  font-size: 1.4rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 8rem 13rem;
  gap: 1rem;
}

.footer-container > div h4 {
  margin: 2rem 0;
  font-size: 1.9rem;
}



footer ul li {
  margin-bottom: 1.2rem;  
}

footer ul li a {
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
  color: var(--color-white)
}

.bi-geo-alt-fill {
  vertical-align: top;
}

.footer_3 {
  margin: 0 auto;
  display: flex;
  gap: 1.4rem;
  font-size: 1.6rem;
}


.footer_4 {
  display: flex;
  gap: 3rem;
}






